.deals-section{
    display: block;
    position: relative;
    flex-direction: column;
   align-items: center;
   width: 100%;
   margin:70px;
   flex-wrap: wrap;
   background-color: #fafafa;
   padding: 100px 0px;

   
}
.deals-section .header-buttons{
    width: 100%;
    display: flex;
    padding: 0;
    position: absolute;
   
    
     
   
}


.deals-section .header-buttons .buttons{
   
   transform: translateY(100%);
   width: 50%;
   
  
   
}
.deals-section .header-buttons .buttons .btn{
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bolder;
    
   
}

.deals-section .villa-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    transform: translateY(50%);
    gap: 30px;
    height: 100%;
    margin-bottom: 20%;

   
    
}

.deals-section .villa-info .villa-img{
 
    width: 40%;

}
.deals-section .villa-info .villa-img img{
 
    width: 100%;

}


.deals-section .villa-info .info-table-deals{
    width: 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    

}


.deals-section .villa-info .villa-description{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}


@media only screen and (max-width: 767px) {
  .deals-section{
    width: 100%;
  }
  
    .deals-section .header-buttons{
        
        align-items: center;
        display: flex;
        flex-direction: column;
      
    }

    .deals-section .villa-info{
   width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        align-items: center;
    }

    .deals-section .villa-img img{
        width: 100%;
        align-items: center;
    }
    .deals-section .villa-info .info-table-deals{
        width: 100%;
    }

    .deals-section .villa-info .villa-description{
        width: 100%;
        margin-bottom: 250px;
        align-items: center;
    }
    .deals-section .villa-info .villa-description .villa-text{
        text-align: left;
    }
    .deals-section .villa-info .villa-description  .schedule{
        left: 10px  ;
    }
    
}
