.card-Item{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;

    background-color: #fafafa;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;

}

.card-Item .card-info {
    display: flex;
    flex-direction: column;

}

.card-Item .card-info .first-line{
    display: flex;
    flex-direction: row;
justify-content: space-between;}