.contact-card{
    flex: 0 0 auto;
    width: 50%;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 35px;
    background-color: #fff;


}

.contact-card img{
    float: left;
    margin-right: 25px;
    vertical-align: middle;
 width: 100%;
}

.contact-card h6{
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;

}